<a href="https://colab.research.google.com/github/GabrielleRab/AMNH-Youth-Initiatives/blob/main/Climate_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Let's look at some climate data!

In [19]:
# import the necessary Python libraries
import pandas as pd

# create a dataframe called "df" with the dataset
df = pd.read_csv("https://raw.githubusercontent.com/GabrielleRab/AMNH-Youth-Initiatives/main/NOAA_GPOY.csv")

# preview the first five rows
df.head()

,STATION,DATE,LATITUDE,LONGITUDE,ELEVATION,NAME,CDSD,CDSD_ATTRIBUTES,CLDD,CLDD_ATTRIBUTES,DP01,DP01_ATTRIBUTES,DP10,DP10_ATTRIBUTES,DP1X,DP1X_ATTRIBUTES,DT00,DT00_ATTRIBUTES,DT32,DT32_ATTRIBUTES,DX32,DX32_ATTRIBUTES,DX70,DX70_ATTRIBUTES,DX90,DX90_ATTRIBUTES,EMNT,EMNT_ATTRIBUTES,EMXP,EMXP_ATTRIBUTES,EMXT,EMXT_ATTRIBUTES,FZF0,FZF0_ATTRIBUTES,FZF1,FZF1_ATTRIBUTES,FZF2,FZF2_ATTRIBUTES,FZF5,FZF5_ATTRIBUTES,FZF6,FZF6_ATTRIBUTES,FZF7,FZF7_ATTRIBUTES,HDSD,HDSD_ATTRIBUTES,HTDD,HTDD_ATTRIBUTES,PRCP,PRCP_ATTRIBUTES,TAVG,TAVG_ATTRIBUTES,TMAX,TMAX_ATTRIBUTES,TMIN,TMIN_ATTRIBUTES
0,AG000060680,1941,22.8,5.4331,1362.0,"TAMANRASSET, AG",1842.2,NaN,1842.2,G,NaN,NaN,NaN,NaN,NaN,NaN,0.0,G,2.0,G,0.0,G,351.0,G,147.0,G,0.0,"G,0207,+",NaN,NaN,38.0,"G,0702,+",NaN,NaN,NaN,NaN,NaN,NaN,0.0,"G,0207",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.44,G,29.79,G,15.10,G
1,AG000060680,1942,22.8,5.4331,1362.0,"TAMANRASSET, AG",1751.1,NaN,1751.1,G,14.0,I,5.0,I,0.0,I,0.0,G,11.0,G,0.0,G,315.0,G,144.0,G,-2.4,"G,0120,",6.0,",I,0813,",38.3,"G,0623,",0.0,"G,1225",NaN,NaN,NaN,NaN,-0.9,"G,0126",-2.4,"G,0120",NaN,NaN,430.5,5.0,430.5,G,30.0,",I",21.67,G,28.92,G,14.40,G
2,AG000060680,1943,22.8,5.4331,1362.0,"TAMANRASSET, AG",1527.5,NaN,1527.5,G,19.0,I,12.0,I,0.0,I,0.0,G,4.0,G,0.0,G,310.0,G,111.0,G,-1.1,"G,0126,+",17.0,",I,1114,",37.2,"G,0712,",NaN,NaN,NaN,NaN,NaN,NaN,-0.3,"G,0210",NaN,NaN,NaN,NaN,563.1,1.0,563.1,G,105.0,",I",21.21,G,28.10,G,14.31,G
3,AG000060680,1944,22.8,5.4331,1362.0,"TAMANRASSET, AG",1714.4,NaN,1714.4,G,7.0,I,4.0,I,0.0,I,0.0,G,4.0,G,0.0,G,304.0,G,149.0,G,-4.7,"G,0217,",12.0,",I,1227,+",38.9,"G,0625,",NaN,NaN,NaN,NaN,NaN,NaN,-2.3,"G,0218",-2.3,"G,0218",-4.7,"G,0217",645.8,8.0,645.8,G,45.0,",I",21.21,G,28.43,G,13.98,G
4,AG000060680,1945,22.8,5.4331,1362.0,"TAMANRASSET, AG",1584.3,NaN,1584.3,G,10.0,I,2.0,I,0.0,I,0.0,G,7.0,G,0.0,G,322.0,G,120.0,G,-1.4,"G,0102,",17.0,",I,1021,",38.4,"G,0708,",NaN,NaN,NaN,NaN,NaN,NaN,-0.1,"G,0110",NaN,NaN,NaN,NaN,518.3,3.0,518.3,G,30.0,",I",21.14,G,28.17,G,14.11,G

This is just the first few rows of our data. If we want to know the highest year, we can find the max of the date column:

In [6]:
df['DATE'].max()

2004

Now you try! Find the maximum elevation in this dataset:

In [ ]:
# Add your own code here! Look at the code above and see what you might need to change:

The column names in this dataset can be confusing if you're not familiar with them. You can find an explanation of all the acronyms [here](https://www.ncei.noaa.gov/pub/data/metadata/documents/GSOYReadme.txt). Make sure to use that page as a reference for the rest of this activity.

Let's explore the total annual precipitation in inches ("PRCP"). We'll find the average and then the min and max, along with the corresponding year

In [7]:
# Calculating the average annual precipitation
df['PRCP'].mean()

49.263888888888886

In [8]:
# Calculating the minimum annual precipitation
df['PRCP'].min()

0.0

In [9]:
# Finding the year with the minimum precipitation:
df.loc[df['PRCP'].idxmin()]['DATE']

1973

In [10]:
# Calculating the maximum annual precipitation
df["PRCP"].max()

156.0

In [11]:
# Finding the year with the maximum precipitation:
df.loc[df['PRCP'].idxmax()]['DATE']

1979

We can also look up the total annual precipitation for a specific year:

In [23]:
# Find the PRCP for the year 1990
# The first number is the row in the dataset and the second number is the PRCP
df.query("DATE==1990")["PRCP"]

27    21.0
Name: PRCP, dtype: float64

Now you try! Find the PCRP for the year 1970:

In [ ]:
# Add your own code here! Look at the code above and see what you might need to change:

Explore the data on your own! Remember that you can find an explanation of all the acronyms [here](https://www.ncei.noaa.gov/pub/data/metadata/documents/GSOYReadme.txt).